body{
    background-color: #5ca1d7;
}
.top{
    color: white;
    text-align: center;
}
.top h1:hover{
    color: black;
}
.list{
    width:60%;
    margin: 0 auto;
}
#wowimage{
    width: 35%;
    display: block;
    margin: 0 auto;
}
blockquote{
    color: #fff;
    font-size: 1.7em;
    max-width: 300px;
    margin: 0 auto;
    padding: 5%;
}
figcaption{
    text-align: center;
}
main p{
    text-align: center;
}